.card-summary {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 66px 0 112px 0;
}

.icon-small {
  width: 20px;
  height: 20px;
}

.img-responsive {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .card-summary {
    grid-template-columns: 4fr 3fr;
  }
  .img-responsive {
    width: 430px;
    object-fit: cover;
    height: 430px;
  }
}
